/Programming/freetype/objs
/Programming/.vs
/Programming/BIN-AMD/TrainingFramework.exe
/Programming/BIN-AMD/TrainingFramework.ilk
/Programming/BIN-AMD/TrainingFramework.pdb
/Programming/BIN-AMD/UtilitiesD.lib
/Programming/BIN-Angle/TrainingFramework.exe
/Programming/BIN-Angle/TrainingFramework.ilk
/Programming/BIN-Angle/TrainingFramework.pdb
/Programming/BIN-Nvidia/TrainingFramework.exe
/Programming/BIN-Nvidia/TrainingFramework.ilk
/Programming/BIN-Nvidia/TrainingFramework.pdb
/Programming/BIN-Nvidia/UtilitiesD.lib
